<!DOCTYPE html>
<html>
	<head>
		<title>CS-374 Final Project</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<h1 class="header">
		    125 Seconds of Pete Tucker 
		</h1>
	    <p>
	        <a href="/">
	            Return Home
            </a>
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i1mV3HcIR3A?si=cxpkqNna63I58gt_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</body>
	
	</html>